<link rel="stylesheet" href="/css/terminal.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
<p>
  <a href="{{ repo_path }}">{{ repo_name }}</a>/<a href="{{ branch_path }}">{{ branch_name }}</a>/<a href="{{ commit_url }}">{{ commit_short_sha }}</a><br />
  <a href="{{ jenkins_url }}">{{ jenkins_url }}</a>
  <pre>
    {{{ commit_message }}}
  </pre>
</p>
<pre>{{{ output }}}</pre>
